h1 {
    text-align: center;
    font-size: 150px;
    color: goldenrod;
    padding-top: 100px;
    text-shadow: 2px 2px black;
    font-family: sans-serif;
}

h2 {
    text-align: center;
    font-size: 50px;
    color: goldenrod;
    background-color: antiquewhite;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-right: 500px;
    opacity: 75%;
    text-shadow: 1px 1px black;
    font-family: sans-serif;
}

h3 {
    padding-left: 10px;
    padding-top: 50px;
    text-align: center;
}

body {
    background-image: url("https://wallpaperaccess.com/full/248114.jpg");
    background-size: cover;
}

div {
    background-color: antiquewhite;
    text-align: center;
    margin-left: 500px;
    margin-bottom: 50px;
    margin-right: 500px;
    opacity: 75%;
    line-height: 30px;
}

p {
    padding: 5px;
    font-size: 25px;
}

ul {
    background-color: antiquewhite;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    padding: 30px;
    font-size: 25px;
    opacity: 75%;
}

button {
    float: right;
    margin-right: 500px;
}

ul {
    line-height: 30px;
}